/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before,
  .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow-y: scroll;
}
main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.block-cols .block-col {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.wide-col,
.narrow-col {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.wide-col.one-col {
  display: block;
  margin-right: 0;
}
.aside-col {
  margin: 0 0 35px;
}
.aside-col p:first-child {
  margin-top: 0;
}
.aside-col p:last-child {
  margin-bottom: 0;
}
.aside-col:last-child {
  margin: 0;
}
.aside-title {
  display: block;
  margin: 0 0 15px;
  font-size: 18px;
}
.contacts-col {
  padding: 20px;
  border: 10px solid #e0e0e0;
}
.contacts-col .button {
  display: block;
  width: 100%;
  margin: 25px 0 0;
  text-align: center;
}
.button {
  display: inline-block;
  margin-right: -4px;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  vertical-align: top;
}
.button:hover {
  background: #e0e0e0;
}
.button-red-fill {
  background: #e02424;
  color: #ffffff;
  border-color: #e02424;
}
.button-red-fill:hover {
  background: transparent;
  color: #e02424;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  outline: none;
}
#callback {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  background: #ffffff;
  text-align: center;
}
#callback .form-title {
  display: block;
  margin: 0 0 15px;
  font-size: 20px;
}
#callback p {
  margin: 0;
}
form span.wpcf7-not-valid-tip {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  color: #e02424;
}
form input.wpcf7-not-valid {
  border-color: #e02424;
  color: #e02424;
}
form .wpcf7-response-output {
  width: 100%;
  margin: 30px 0 15px !important;
  border-width: 1px;
  font-size: 14px;
  text-align: left;
}
form img.ajax-loader {
  position: absolute !important;
  left: 15px !important;
  top: 15px !important;
}
input[type=text],
input[type=email],
input[type=submit],
textarea {
  outline: none;
}
input[type=text],
input[type=email],
textarea {
  padding: 10px;
  border: 1px solid #e0e0e0;
}
textarea {
  resize: none;
}
form input[type=text],
form input[type=email],
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.order-form {
  margin: 30px 0 25px;
  padding: 20px;
  border: 1px solid #e02424;
}
.order-form h3 {
  margin-top: 0 !important;
}
.order-form p {
  margin: 10px 0 !important;
}
.order-form hr {
  display: block;
  height: 1px;
  margin: 25px 0;
  border: none;
  background: #e02424;
}
.order-form .wpcf7-form-control.wpcf7-radio {
  display: block;
  margin-bottom: 20px;
}
.order-form span.wpcf7-list-item {
  margin-left: 0;
  padding-right: 20px;
}
.order-form .wpcf7-list-item:last-child {
  padding-right: 0;
}
.order-form textarea,
.order-form input[type=text],
.order-form input[type=email] {
  margin-bottom: 5px;
}
.order-form input[type=file] {
  margin-bottom: 20px;
}
.order-form textarea {
  height: 150px;
}
header {
  padding: 25px 0 0;
}
.header-top {
  padding-bottom: 15px;
}
.header-search,
.header-phone {
  height: 36px;
  margin-top: 2px;
}
.header-search input[type=text],
.header-search input[type=submit] {
  display: inline-block;
  height: 36px;
  margin-right: -4px;
  vertical-align: top;
  border: 1px solid #e0e0e0;
  border-right: none;
}
.header-search input[type=text] {
  padding: 0 10px;
  line-height: 36px;
  font-weight: 300;
  color: #636363;
}
.header-search input[type=submit] {
  background: url('../img/icon-search.png') no-repeat center center #e02424;
  border: none;
}
.header-search input[type=submit]:hover {
  background-color: rgba(224, 36, 36, 0.85);
}
.header-phone {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  border: 1px solid #e0e0e0;
}
.header-phone:before {
  content: '';
  position: relative;
  display: inline-block;
  top: -1px;
  left: -10px;
  width: 36px;
  height: 36px;
  margin-right: 0;
  background: url('../img/icon-phone.png') no-repeat center center #e0e0e0;
  vertical-align: middle;
}
.header-phone:hover {
  border-color: #bababa;
}
.header-phone:hover:before {
  background-color: #bababa;
}
.header-email:before {
  background: url('../img/icon-email.png') no-repeat center center #e0e0e0;
}
.header-menu {
  padding-bottom: 15px;
}
.header-menu:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 auto 15px;
  background: #e0e0e0;
}
.header-menu li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  border-right: 1px solid #e0e0e0;
}
.header-menu li a {
  display: block;
  padding: 6px 12px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.header-menu li:first-child a {
  padding-left: 0;
}
.header-menu li:last-child {
  border-right: none;
}
.header-menu li:last-child a {
  padding-right: 0;
}
.header-menu li.current-menu-item a,
.header-menu li a:hover {
  color: #e02424;
}
.main-slideshow {
  height: 420px;
  overflow: hidden;
}
.main-slideshow img {
  width: 1920px;
  height: auto;
}
.main-slideshow * {
  outline: none;
}
.slideshow-single {
  position: relative;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}
.slideshow-desc {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  padding: 50px 15px;
  color: #ffffff;
  z-index: 2;
}
.slideshow-desc a {
  position: relative;
  display: block;
  width: 140px;
  margin: 40px 0 0;
  padding: 11px 20px 11px 40px;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.slideshow-desc a:before {
  content: 'вќ­';
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 20px;
  color: #939393;
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
       -o-transform: translateY(-55%);
          transform: translateY(-55%);
  vertical-align: middle;
}
.slideshow-desc a:hover {
  background: transparent;
  color: #ffffff;
}
.slideshow-desc a:hover:before {
  color: #ffffff;
}
.slideshow-single-title {
  max-width: 75%;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}
.slideshow-single-description {
  display: inline-block;
  max-width: 75%;
  margin: 15px 0 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  background: #e02424;
}
.our-cables {
  padding: 35px 0;
  background: #f1f1f1;
}
.our-cables h2 {
  margin: 0 0 35px;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.our-cables .block-cols {
  text-align: center;
}
.our-cables img {
  display: block;
  margin: 0 auto 15px;
}
.our-cables figcaption {
  display: inline;
  font-size: 16px;
  font-weight: 700;
}
.our-cables figure:hover figcaption {
  border-bottom: 1px solid #000000;
}
.our-history {
  padding: 50px 0;
}
.our-history h2 {
  margin: 0 0 15px;
  font-size: 40px;
  font-weight: 700;
}
.our-history h2 span {
  display: block;
  font-weight: 400;
  color: #e02424;
}
.our-history img {
  width: 235px;
  height: auto;
  margin-right: 20px;
}
.our-news {
  padding: 0 0 25px;
}
.our-news .container:before {
  content: '';
  display: block;
  height: 1px;
  margin: 0 0 25px;
  background: #e0e0e0;
}
.our-news-single {
  width: -webkit-calc(25% + 5px) !important;
  width: calc(25% + 5px) !important;
  padding: 0 10px;
}
.our-news-single:last-child,
.our-news-single:first-child {
  width: -webkit-calc(25% - 5px) !important;
  width: calc(25% - 5px) !important;
}
.our-news-single:first-child {
  padding-left: 0;
}
.our-news-single:last-child {
  padding-right: 0;
}
.our-news-img img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 20px;
}
.our-news-title {
  font-size: 17px;
  text-transform: uppercase;
}
.our-news-title a {
  color: #004d99;
}
.our-news-title a:hover {
  border-bottom: 1px solid #004d99;
}
.our-news-bar {
  margin: 15px 0 10px;
}
.our-news-cat,
.our-news-date {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}
.our-news-cat,
.our-news-date,
.our-news-cat a,
.our-news-date a {
  font-size: 12px;
  color: #bababa;
  text-transform: uppercase;
}
.our-news-cat a:hover,
.our-news-date a:hover {
  border-bottom: 1px solid #bababa;
}
.our-news-cat ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.our-news-date {
  text-align: right;
}
.our-news-desc p {
  margin: 0;
}
.about-us {
  padding: 25px 0 50px;
}
.about-us-catalog {
  position: relative;
  overflow: hidden;
}
.about-us-catalog img {
  position: absolute;
  width: 100%;
}
.about-us-overlay {
  position: relative;
  margin-right: 30px;
  padding: 15px 25px 25px;
  background: rgba(255, 255, 255, 0.85);
}
.about-us-overlay h3 {
  font-size: 30px;
}
.about-us-overlay .button {
  margin: 5px 0 0;
}
.about-us-factory {
  padding: 25px 0 0;
}
.about-us-factory h4 {
  margin: 0 0 25px;
  font-size: 25px;
}
.about-us-factory .block-cols {
  color: #4d4d4d;
}
.about-us-factory .block-col:first-child {
  padding-right: 10px;
}
.about-us-factory .block-col:last-child {
  padding-left: 10px;
}
footer {
  padding: 25px 0;
  background: #f1f1f1;
}
footer strong {
  display: block;
  margin: 0 0 10px;
  font-size: 14px;
  text-transform: uppercase;
}
footer p,
footer span,
footer a {
  font-size: 14px;
  color: #666666;
}
footer p {
  margin: 10px 0;
}
footer li {
  padding: 5px 0;
}
footer li.current-menu-item a {
  color: #e02424;
}
footer li.current-menu-item a:hover {
  border-bottom-color: #e02424;
}
footer li a {
  color: #666666;
}
footer li a:hover {
  border-bottom: 1px solid #666666;
}
.copyrights p {
  font-size: 12px;
}
.single-page {
  padding-bottom: 25px;
}
.single-page .container:before {
  content: '';
  display: block;
  height: 1px;
  margin: 0 0 25px;
  background: #e0e0e0;
}
.single-page .breadcrumbs {
  margin: 0 0 10px;
  font-size: 14px;
  color: #545454;
}
.single-page .breadcrumbs > span:after {
  content: '❭';
  margin: 0 5px;
  vertical-align: middle;
}
.single-page .breadcrumbs > span:last-child:after {
  content: none;
  margin: 0;
}
.single-page .breadcrumbs > span a:hover {
  color: #e02424;
}
.single-page h2,
.single-page h3,
.single-page h4,
.single-page h5,
.single-page h6,
.single-page p {
  margin: 25px 0;
}
.single-page h1 {
  margin: 0 0 25px;
  font-size: 24px;
  text-transform: uppercase;
}
.single-page h2 {
  font-size: 40px;
}
.single-page h2 span {
  display: block;
  font-weight: 300;
}
.single-page h3 {
  font-size: 17px;
}
.single-page h4 {
  font-size: 15px;
}
.single-page table {
  width: 100%;
}
.single-page table td,
.single-page table th {
  padding: 5px;
  vertical-align: middle;
}
.single-page ul {
  margin: 20px 0;
  padding-left: 20px;
  list-style: none;
}
.single-page ul li {
  margin: 3px 0;
}
.single-page ul li:before {
  content: '-';
  margin-right: 10px;
  font-size: 20px;
  color: #e02424;
}
.single-page .page-content a {
  color: #e02424;
  border-bottom: 1px solid transparent;
}
.single-page .page-content a:hover {
  border-bottom-color: #e02424;
}
.single-page .page-content .gallery a {
  border-bottom: none;
}
.single-page.post-106 table td,
.single-page.post-106 table th {
  padding: 15px 5px;
  vertical-align: top;
  border-bottom: 1px solid #000000;
}
.single-page.post-106 table tr:last-child td,
.single-page.post-106 table tr:last-child th {
  border-bottom: none;
}
.single-page.post-57 table {
  table-layout: fixed;
}
.single-page.post-57 table th,
.single-page.post-57 table td {
  padding: 15px 5px;
}
.single-page .alignleft {
  float: left;
  margin-right: 20px;
}
.single-page .alignright {
  float: right;
  margin-left: 20px;
}
.single-page .aligncenter {
  margin: 0 auto;
}
.single-page .our-advantages {
  margin: 40px 0;
  text-align: center;
  font-size: 14px;
}
.single-page .our-advantages .block-col {
  padding: 0 15px;
}
.single-page .our-factory img {
  vertical-align: top;
}
.single-page .our-factory img:first-child {
  width: 70%;
  padding-right: 20px;
}
.single-page .our-factory img:nth-child(2) {
  width: 30%;
}
.single-page .our-factory p:last-child {
  margin: -10px 0 25px;
  font-size: 14px;
}
.single-page .our-contacts h3 {
  margin: 0 0 10px;
}
.single-page .our-contacts h3 + p {
  margin: 10px 0 25px;
}
.dynamic-sidebar {
  padding-top: 32px;
}
.widget_nav_menu ul {
  margin: 0;
  padding-left: 10px;
  list-style: none;
}
.widget_nav_menu ul li {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
}
.widget_nav_menu ul li:before {
  content: none;
}
.widget_nav_menu ul li a {
  color: #004d99;
}
.widget_nav_menu ul li a:hover {
  color: #000000;
}
.widget_nav_menu ul li.current-menu-item:before {
  content: '❯';
  font-size: 10px;
  color: #e02424;
}
.widget_nav_menu ul.sub-menu {
  margin-left: 10px;
}
.widget_nav_menu ul.sub-menu li a {
  color: #000000;
  font-weight: 400;
}
.widget_nav_menu ul.sub-menu li a:hover {
  color: #e02424;
}
.news-single {
  vertical-align: top;
  margin-bottom: 25px;
}
.news-single .news-single-img img {
  width: 100%;
  height: auto;
}
.news-single .news-single-title {
  margin: 10px 0 15px;
  font-size: 17px;
  text-transform: uppercase;
}
.news-single .news-single-title a {
  color: #004d99;
}
.news-single .news-single-title a:hover {
  border-bottom: 1px solid #004d99;
}
.news-single .news-single-date {
  font-size: 12px;
  line-height: 1;
  color: #bababa;
}
.news-single .news-single-desc p {
  margin: 10px 0;
}
.news-single .news-single-more {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #e02424;
  border-bottom: 1px solid transparent;
}
.news-single .news-single-more:hover {
  border-bottom: 1px solid #e02424;
}
.category-products {
  margin-top: 25px;
}
.category-products .product-single {
  display: inline-block;
  width: 33.333333333333%;
  margin-right: -4px;
  text-align: center;
}
.category-products .product-single .news-single-img,
.category-products .product-single .news-single-info {
  display: block;
}
.category-products .product-single .news-single-img {
  margin: 0 auto;
}
.category-products .product-single .news-single-img img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.pagination {
  margin: 25px 0;
}
.pagination a,
.pagination span {
  display: inline-block;
  margin: 0 3px;
  padding: 5px 10px;
  font-size: 16px;
  background: #f1f1f1;
}
.pagination a:first-child,
.pagination span:first-child {
  margin-left: 0;
}
.pagination a:last-child,
.pagination span:last-child {
  margin-right: -4px;
}
.pagination a:hover,
.pagination span:hover,
.pagination a.current,
.pagination span.current {
  background: #e02424;
  color: #ffffff;
}
/* Adaptive */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .to-left,
  .to-right {
    float: none;
  }
  img {
    max-width: 100%;
  }
  .narrow-col,
  .wide-col,
  .wide-col.one-col {
    display: block;
    width: 100%;
    margin: 25px 0;
    padding: 0;
  }
  .block-cols.block-cols .block-col {
    display: block;
    width: 100%;
    margin: 25px 0;
  }
  .block-cols.block-cols .block-col:first-child {
    margin-top: 0;
  }
  .block-cols.block-cols .block-col:last-child {
    margin-bottom: 0;
  }
  h1,
  h2 {
    word-break: break-word;
  }
  a.logo {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .header-search {
    width: 100%;
  }
  .header-search input[type=text] {
    width: -webkit-calc(100% - 36px);
    width: calc(100% - 36px);
  }
  .header-search input[type=submit] {
    width: 36px;
  }
  .header-phone {
    display: none;
  }
  .header-menu li {
    display: block;
    margin-right: 0;
    border-right: none;
  }
  .header-menu li a {
    padding: 6px 0;
  }
  footer .block-cols.block-cols-4 .block-col {
    margin: 35px 0;
  }
  .single-page .breadcrumbs {
    margin: 0 0 20px;
  }
  .single-page .gallery-item {
    float: none !important;
    margin: 0 0 25px !important;
    width: 100% !important;
  }
  .single-page .gallery-item img {
    margin: 0;
    width: auto;
    height: auto;
  }
  .single-page .our-advantages img {
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  .single-page .our-factory img,
  .single-page .our-factory img:first-child,
  .single-page .our-factory img:nth-child(2) {
    display: block;
    width: 100%;
    height: auto;
    margin: 25px 0;
    padding: 0;
  }
  .page-content img {
    width: 100%;
    height: auto;
    float: none;
    margin: 25px 0;
  }
  .single-page.post-106 table tr,
  .single-page.post-106 table td,
  .single-page.post-106 table th {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
  }
  .single-page.post-106 table tr img,
  .single-page.post-106 table td img,
  .single-page.post-106 table th img {
    max-width: 100%;
    height: auto;
  }
  .single-page.post-57 table {
    table-layout: fixed;
  }
  .single-page.post-57 table tr,
  .single-page.post-57 table th,
  .single-page.post-57 table td {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: left !important;
  }
  .single-page.post-57 table tr {
    padding: 10px 0;
  }
  .single-page.post-57 table td {
    height: auto !important;
  }
  .single-page.post-57 table tbody tr:first-child {
    display: none;
  }
  .order-form {
    padding: 15px;
  }
  .order-form span.wpcf7-list-item {
    display: block;
    padding: 5px 0;
  }
  .category-products .product-single {
    display: block;
    width: 100%;
    margin: 35px 0;
  }
  .category-products .product-single img {
    max-width: 100%;
    width: auto !important;
    height: auto;
  }
  .our-history {
    padding: 25px 0;
  }
  .our-history img {
    width: 100%;
    margin: 0;
  }
  .our-news .block-cols-4 .block-col {
    width: 100% !important;
    margin: 35px 0;
    padding: 0;
  }
  .about-us-catalog img {
    display: none;
  }
  .about-us-overlay {
    margin: 0;
    padding: 0;
  }
  .about-us-factory .block-col:first-child,
  .about-us-factory .block-col:last-child {
    padding: 0;
  }
  .main-slideshow {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
  .narrow-col,
  .wide-col,
  .wide-col.one-col {
    display: block;
    width: 100%;
    margin: 25px 0;
    padding: 0;
  }
  .block-cols.block-cols .block-col {
    width: 50%;
  }
  a.logo {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .header-search {
    width: 304px;
  }
  .header-search input[type=text] {
    width: 268px;
  }
  .header-search input[type=submit] {
    width: 36px;
  }
  .header-phone {
    display: block;
  }
  .header-email {
    margin-left: 15px;
  }
  footer .block-cols-4 .block-col {
    width: 25% !important;
  }
  .news-single .news-single-img,
  .news-single .news-single-info {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }
  .news-single .news-single-img {
    margin-right: 20px;
  }
  .news-single .news-single-img {
    width: 150px;
    height: auto;
  }
  .slideshow-desc {
    width: 768px;
    margin-left: -384px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
  .block-cols.block-cols-6 .block-col {
    width: 16.66666667%;
  }
  .block-cols.block-cols-5 .block-col {
    width: 20%;
  }
  .block-cols.block-cols-4 .block-col {
    width: 25%;
  }
  .block-cols.block-cols-3 .block-col {
    width: 33.33333333%;
  }
  .block-cols.block-cols-2 .block-col {
    width: 50%;
  }
  .block-cols.block-cols-1 .block-col {
    width: 100%;
  }
  a.logo {
    float: left;
    margin: 0;
  }
  .narrow-col,
  .wide-col {
    display: inline-block;
    margin-right: -4px;
  }
  .narrow-col {
    width: 25%;
  }
  .wide-col {
    width: 75%;
    padding-right: 50px;
  }
  .wide-col.one-col {
    width: 100%;
    padding-right: 0;
  }
  .header-search {
    width: 239px;
    margin-left: 30px;
  }
  .header-search input[type=text] {
    width: 203px;
  }
  .about-us-overlay {
    width: 630px;
  }
  .slideshow-desc {
    width: 970px;
    margin-left: -485px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .header-search {
    width: 439px;
    margin-left: 30px;
  }
  .header-search input[type=text] {
    width: 403px;
  }
  .slideshow-desc {
    width: 1170px;
    margin-left: -585px;
  }
}
