/* Adaptive */

@media screen and (max-width: 767px) {

  .container {
    width: 100%;
  }

  .to-left,
  .to-right {
    float: none;
  }

  img {
    max-width: 100%;
  }

  .narrow-col,
  .wide-col,
  .wide-col.one-col {
    display: block;
    width: 100%;
    margin: 25px 0;
    padding: 0;
  }

  .block-cols.block-cols {

    .block-col {
      display: block;
      width: 100%;
      margin: 25px 0;
    }
    .block-col:first-child {
      margin-top: 0;
    }
    .block-col:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2 {
    word-break: break-word;
  }

  a.logo {
    float: none;
    display: block;
    margin-bottom: 10px;
  }

  .header-search {
		width: 100%;

		input[type=text] {
			width: ~"calc(100% - 36px)";
		}
		input[type=submit] {
			width: 36px;
		}
  }

  .header-phone {
    display: none;
  }

  .header-menu {

    li {
      display: block;
      margin-right: 0;
      border-right: none;

      a {
        padding: 6px 0;
      }
    }
  }

  footer {

    .block-cols.block-cols-4 {

      .block-col {
        margin: 35px 0;
      }
    }
  }

  .single-page {

    .breadcrumbs {
      margin: 0 0 20px;
    }
    .gallery-item {
      float: none !important;
      margin: 0 0 25px !important;
      width: 100% !important;

      img {
        margin: 0;
        width: auto;
        height: auto;
      }
    }
    .our-advantages {

      img {
        width: auto;
        height: auto;
        margin: 0 auto;
      }
    }
    .our-factory {

      img,
      img:first-child,
      img:nth-child(2) {
        display: block;
        width: 100%;
        height: auto;
        margin: 25px 0;
        padding: 0;
      }
    }
  }

  .page-content {

    img {
      width: 100%;
      height: auto;
      float: none;
      margin: 25px 0;
    }
  }

  .single-page.post-106 {

    table {

      tr, td, th {
        display: block;
        width: 100%;
        padding: 5px;
        border: none;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .single-page.post-57 {

    table {
      table-layout: fixed;

      tr, th, td {
        display: block;
        width: 100%;
        padding: 5px 0;
        text-align: left !important;
      }
      tr {
        padding: 10px 0;
      }
      td {
        height: auto !important;
      }
      tbody {

        tr:first-child {
          display: none;
        }
      }
    }
  }

  .order-form {
    padding: 15px;

    span.wpcf7-list-item {
      display: block;
      padding: 5px 0;
    }
  }

  .category-products {

    .product-single {
      display: block;
      width: 100%;
      margin: 35px 0;

      img {
        max-width: 100%;
        width: auto !important;
        height: auto;
      }
    }
  }

  .our-history {
    padding: 25px 0;

    img {
      width: 100%;
      margin: 0;
    }
  }

  .our-news {

    .block-cols-4 {

      .block-col {
        width: 100% !important;
        margin: 35px 0;
        padding: 0;
      }
    }
  }

  .about-us-catalog {

    img {
      display: none;
    }
  }

  .about-us-overlay {
    margin: 0;
    padding: 0;
  }

  .about-us-factory {

    .block-col:first-child,
    .block-col:last-child {
      padding: 0;
    }
  }

  .main-slideshow {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  .container {
  	width: 750px;
  }

  .narrow-col,
  .wide-col,
  .wide-col.one-col {
    display: block;
    width: 100%;
    margin: 25px 0;
    padding: 0;
  }

  .block-cols.block-cols {

    .block-col {
      width: 50%;
    }
  }

  a.logo {
    float: none;
    display: block;
    margin-bottom: 10px;
  }

  .header-search {
		width: 304px;

		input[type=text] {
			width: 268px;
		}
		input[type=submit] {
			width: 36px;
		}
  }

  .header-phone {
    display: block;
  }

  .header-email {
    margin-left: 15px;
  }

  footer {

    .block-cols-4 .block-col {
      width: 25% !important;
    }
  }

  .news-single {

    .news-single-img,
    .news-single-info {
      display: inline-block;
      margin-right: -4px;
      vertical-align: top;
    }

    .news-single-img {
      margin-right: 20px;
    }
  }

  .news-single {

    .news-single-img {
      width: 150px;
      height: auto;
    }
  }

  .slideshow-desc {
  	width: 768px;
  	margin-left: -384px;
  }
}
@media screen and (min-width: 992px) {

  .container {
  	width: 970px;
  }

  // Cols

  .block-cols {

    .grid(block-cols; 6);
  }

  a.logo {
    float: left;
    margin: 0;
  }

  .narrow-col,
  .wide-col {
    display: inline-block;
    margin-right: -4px;
  }
  .narrow-col {
    width: 25%;
  }
  .wide-col {
    width: 75%;
    padding-right: 50px;
  }
  .wide-col.one-col {
    width: 100%;
    padding-right: 0;
  }

  .header-search {
		width: 239px;
		margin-left: 30px;

		input[type=text] {
			width: 203px;
		}
  }

  .about-us-overlay {
    width: 630px;
  }

  .slideshow-desc {
  	width: 970px;
  	margin-left: -485px;
  }
}
@media screen and (min-width: 1200px) {

	.container {
		width: 1170px;
	}

	.header-search {
		width: 439px;
		margin-left: 30px;

		input[type=text] {
			width: 403px;
		}
  }

  .slideshow-desc {
  	width: 1170px;
  	margin-left: -585px;
  }
}
