// Archive/category page

.news-single {
  vertical-align: top;
  margin-bottom: 25px;

  .news-single-img {

    img {
      width: 100%;
      height: auto;
    }
  }
  .news-single-title {
    margin: 10px 0 15px;
    font-size: 17px;
    text-transform: uppercase;

    a {
      color: @blue;

      &:hover {
        border-bottom: 1px solid @blue;
      }
    }
  }
  .news-single-date {
    font-size: 12px;
    line-height: 1;
		color: darken(@greyDark, 15%);
  }
  .news-single-desc {

    p {
      margin: 10px 0;
    }
  }
  .news-single-more {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    color: @red;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid @red;
    }
  }
}

// Product page

.category-products {
  margin-top: 25px;

  .product-single {
    display: inline-block;
    width: 33.333333333333%;
    margin-right: -4px;
    text-align: center;

    .news-single-img,
    .news-single-info {
      display: block;
    }
    .news-single-img {
      margin: 0 auto;

      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}

// Pagination
.pagination {
  margin: 25px 0;

  a, span {
    display: inline-block;
    margin: 0 3px;
    padding: 5px 10px;
    font-size: 16px;
    background: @grey;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: -4px;
    }
    &:hover,
    &.current {
      background: @red;
      color: @white;
    }
  }

}
