#callback {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  background: @white;
  text-align: center;

  .form-title {
    display: block;
    margin: 0 0 15px;
    font-size: 20px;
  }
  p {
    margin: 0;
  }
}

form {

  span.wpcf7-not-valid-tip {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    color: @red;
  }
  input.wpcf7-not-valid {
    border-color: @red;
    color: @red;
  }
  .wpcf7-response-output {
    width: 100%;
    margin: 30px 0 15px !important;
    border-width: 1px;
    font-size: 14px;
    text-align: left;
  }
  img.ajax-loader {
    position: absolute !important;
    left: 15px !important;
    top: 15px !important;
  }
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
  outline: none;
}

input[type=text],
input[type=email],
textarea {
  padding: 10px;
  border: 1px solid @greyDark;
}

textarea {
  resize: none;
}

form {

  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

// Order form
.order-form {
  margin: 30px 0 25px;
  padding: 20px;
  border: 1px solid @red;

  h3 {
    margin-top: 0 !important;
  }
  p {
    margin: 10px 0 !important;
  }
  hr {
    display: block;
    height: 1px;
    margin: 25px 0;
    border: none;
    background: @red;
  }
  .wpcf7-form-control.wpcf7-radio {
    display: block;
    margin-bottom: 20px;
  }
  span.wpcf7-list-item {
    margin-left: 0;
    padding-right: 20px;
  }
  .wpcf7-list-item:last-child {
    padding-right: 0;
  }
  textarea,
  input[type=text],
  input[type=email] {
    margin-bottom: 5px;
  }
  input[type=file] {
    margin-bottom: 20px;
  }
  textarea {
    height: 150px;
  }
}
