// Header
header {
	padding: 25px 0 0;
}

.header-top {
	padding-bottom: 15px;
}

.header-search,
.header-phone {
	height: 36px;
	margin-top: 2px;
}

.header-search {

	input[type=text],
	input[type=submit] {
		display: inline-block;
		height: 36px;
		margin-right: -4px;
		vertical-align: top;
		border: 1px solid @greyDark;
		border-right: none;
	}
	input[type=text] {
		padding: 0 10px;
		line-height: 36px;
		font-weight: 300;
		color: #636363;
	}
	input[type=submit] {
		background: url('../img/icon-search.png') no-repeat center center @red;
		border: none;

		&:hover {
			background-color: fade(@red, 85%);
		}
	}
}

.header-phone {
	padding: 0 10px;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: @black;
	border: 1px solid @greyDark;

	&:before {
		content: '';
		position: relative;
		display: inline-block;
		top: -1px;
		left: -10px;
		width: 36px;
		height: 36px;
		margin-right: 0;
		background: url('../img/icon-phone.png') no-repeat center center @greyDark;
		vertical-align: middle;
	}
	&:hover {
		border-color: darken(@greyDark, 15%);

		&:before {
			background-color: darken(@greyDark, 15%);
		}
	}
}

.header-email {

	&:before {
		background: url('../img/icon-email.png') no-repeat center center @greyDark;
	}
}

.header-menu {
	padding-bottom: 15px;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		margin: 0 auto 15px;
		background: @greyDark;
	}

	li {
		display: inline-block;
		margin-right: -4px;
		vertical-align: top;
		border-right: 1px solid @greyDark;

		a {
			display: block;
			padding: 6px 12px;
			font-weight: 700;
			color: @black;
			text-decoration: none;
		}
		&:first-child {

			a {
				padding-left: 0;
			}
		}
		&:last-child {
			border-right: none;

			a {
				padding-right: 0;
			}
		}
		&.current-menu-item a,
		a:hover {
			color: @red;
		}
	}
}

// Slider
.main-slideshow {
	height: 420px;
	overflow: hidden;

	img {
		width: 1920px;
		height: auto;
		height: auto;
	}

	* {
		outline: none;
	}
}

.slideshow-single {
	position: relative;
}

.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: fade(@black, 55%);
}

.slideshow-desc {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	padding: 50px 15px;
	color: @white;
	z-index: 2;

	a {
		position: relative;
		display: block;
		width: 140px;
		margin: 40px 0 0;
		padding: 11px 20px 11px 40px;
		background: @white;
		border: 1px solid @white;

		&:before {
			content: 'вќ­';
			position: absolute;
			top: 50%;
			left: 20px;
			font-size: 20px;
			color: darken(@greyDark, 30%);
			transform: translateY(-55%);
			vertical-align: middle;
		}
		&:hover {
			background: transparent;
			color: @white;

			&:before {
				color: @white;
			}
		}
	}
}

.slideshow-single-title {
	max-width: 75%;
	margin: 0;
	font-size: 50px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 1px 1px 0 fade(@black, 70%);
}

.slideshow-single-description {
	display: inline-block;
	max-width: 75%;
	margin: 15px 0 0;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 300;
	background: @red;
}

// Our cables block
.our-cables {
	padding: 35px 0;
	background: @grey;

	h2 {
		margin: 0 0 35px;
		font-size: 35px;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
	}
	.block-cols {
		text-align: center;
	}
	img {
		display: block;
		margin: 0 auto 15px;
	}
	figcaption {
		display: inline;
		font-size: 16px;
		font-weight: 700;
	}
	figure:hover {

		figcaption {
			border-bottom: 1px solid @black;
		}
	}
}

//Our history block
.our-history {
	padding: 50px 0;

	h2 {
		margin: 0 0 15px;
		font-size: 40px;
		font-weight: 700;

		span {
			display: block;
			font-weight: 400;
			color: @red;
		}
	}
	img {
		width: 235px;
	 	height: auto;
	 	margin-right: 20px;
	}
}

.our-news {
	padding: 0 0 25px;

	.container {
		&:before {
			content: '';
			display: block;
			height: 1px;
			margin: 0 0 25px;
			background: @greyDark;
		}
	}
}

.our-news-single {
	width: ~"calc(25% + 5px)" !important;
	padding: 0 10px;

	&:last-child,
	&:first-child {
		width: ~"calc(25% - 5px)" !important;
	}
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}

.our-news-img {

	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 0 20px;
	}
}

.our-news-title {
	font-size: 17px;
	text-transform: uppercase;

	a {
		color: @blue;

		&:hover {
			border-bottom: 1px solid @blue;
		}
	}
}

.our-news-bar {
	margin: 15px 0 10px;
}

.our-news-cat,
.our-news-date {
	display: inline-block;
	width: 50%;
	margin-right: -4px;
	vertical-align: top;

	&, a {
		font-size: 12px;
		color: darken(@greyDark, 15%);
		text-transform: uppercase;
	}
	a:hover {
		border-bottom: 1px solid darken(@greyDark, 15%);
	}
}

.our-news-cat {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.our-news-date {
	text-align: right;
}

.our-news-desc {

	p {
		margin: 0;
	}
}

//About us block
.about-us {
	padding: 25px 0 50px;
}

.about-us-catalog {
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		width: 100%;
	}
}

.about-us-overlay {
	position: relative;
	margin-right: 30px;
	padding: 15px 25px 25px;
	background: fade(@white, 85%);

	h3 {
		font-size: 30px;
	}
	.button {
		margin: 5px 0 0;
	}
}

.about-us-factory {
	padding: 25px 0 0;

	h4 {
		margin: 0 0 25px;
		font-size: 25px;
	}
	.block-cols {
		color: lighten(@black, 30%)
	}
	.block-col:first-child {
		padding-right: 10px;
	}
	.block-col:last-child {
		padding-left: 10px;
	}
}

footer {
	padding: 25px 0;
	background: @grey;

	strong {
		display: block;
		margin: 0 0 10px;
		font-size: 14px;
		text-transform: uppercase;
	}
	p, span, a {
		font-size: 14px;
		color: lighten(@black, 40%);
	}
	p {
		margin: 10px 0;
	}
	li {
		padding: 5px 0;

		&.current-menu-item {

			a {
				color: @red;

				&:hover {
					border-bottom-color: @red;
				}
			}
		}
		a {
			color: lighten(@black, 40%);

			&:hover {
				border-bottom: 1px solid lighten(@black, 40%);
			}
		}
	}
}

.copyrights p {
  font-size: 12px;
}
