// Styles for single page content
.single-page {
padding-bottom: 25px;

  .container:before {
    content: '';
    display: block;
    height: 1px;
    margin: 0 0 25px;
    background: @greyDark;
  }

  .breadcrumbs {
    margin: 0 0 10px;
    font-size: 14px;
    color: darken(@greyDark, 55%);

    & > span {

      &:after {
        content: '❭';
        margin: 0 5px;
        vertical-align: middle;
      }
      &:last-child:after {
        content: none;
        margin: 0;
      }
      a:hover {
        color: @red;
      }
    }
  }
  // Headers
  h2, h3, h4, h5, h6, p {
    margin: 25px 0;
  }
  h1 {
    margin: 0 0 25px;
    font-size: 24px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 40px;

    span {
      display: block;
      font-weight: 300;
    }
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 15px;
  }

  // Table
  table {
    width: 100%;

    td, th {
      padding: 5px;
      vertical-align: middle;
    }
  }

  // Lists
  ul {
    margin: 20px 0;
    padding-left: 20px;
    list-style: none;

    li {
      margin: 3px 0;
    }
    li:before {
      content: '-';
      margin-right: 10px;
      font-size: 20px;
      color: @red;
    }
  }

  .page-content {

    a {
      color: @red;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: @red;
      }
    }

    // Gallery
    .gallery {

      a {
        border-bottom: none;
      }
    }
  }

  // Partners page
  &.post-106 {

    table {

      td, th {
        padding: 15px 5px;
        vertical-align: top;
        border-bottom: 1px solid @black;
      }
      tr:last-child {

        td, th {
          border-bottom: none;
        }
      }
    }
  }

  // Contacts page
  &.post-57 {

    table {
      table-layout: fixed;

      th, td {
        padding: 15px 5px;
      }
    }
  }

  // Images
  .alignleft {
    float: left;
    margin-right: 20px;
  }
  .alignright {
    float: right;
    margin-left: 20px;
  }
  .aligncenter {
    margin: 0 auto;
  }

  // Inserted classes
  .our-advantages {
    margin: 40px 0;
    text-align: center;
    font-size: 14px;

    .block-col {
      padding: 0 15px;
    }
  }
  .our-factory {

    img {
      vertical-align: top;
    }
    img:first-child {
      width: 70%;
      padding-right: 20px;
    }
    img:nth-child(2) {
      width: 30%;
    }
    p:last-child {
      margin: -10px 0 25px;
      font-size: 14px;
    }
  }
  .our-contacts {

    h3 {
      margin: 0 0 10px;
    }
    h3 + p {
      margin: 10px 0 25px;
    }
  }
}

// Single page sidebar
.dynamic-sidebar {
  padding-top: 32px;
}

.widget_nav_menu {

  ul {
    margin: 0;
    padding-left: 10px;
    list-style: none;

    li {
      margin: 10px 0;
      font-size: 14px;
      font-weight: 700;

      &:before {
        content: none;
      }
      a {
        color: @blue;

        &:hover {
          color: @black;
        }
      }
      &.current-menu-item {

        &:before {
          content: '❯';
          font-size: 10px;
          color: @red;
        }
      }
    }
  }
  ul.sub-menu {
    margin-left: 10px;

    li {

      a {
        color: @black;
        font-weight: 400;
      }
      a:hover {
        color: @red;
      }
    }
  }
}
